body{
    /* overflow: hidden;     */
}
   
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
 
    position: absolute;
    /* border: 5px solid black; */
}
.row{
    margin: 5px;    
}

.kaart{
    display:inline-block;
    position: relative;
    border: 0.8px solid black;
    height: 100px;
    width: 100px;
    
    z-index: 3;
    margin: 5px;
}

.knopie{
    z-index: 9;
    border: 0px;
    margin-top: 450px;
}

img{
    height: 100px;
    width: 100px;
}

.kaart > img {

}

.kaart > p {
    position: absolute;
    z-index: 100;
    font-weight: bold;
    color: white;
    top: -10px;
    left: 10px;

    font-size: 30px;
}

